/models
/results
/data
/example_data
/src/wandb
/src/wandb_runs
/src/data/vti_files/
/src/configs/development/
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.vti
*.out
*.err
src/wandb_runs/
src/wandb/
wandb/
*.wandb
.DS_Store
.vscode/
