/models
/results
/data
/src/wandb
/src/wandb_runs
/src/data/vti_files/
/src/configs/development/
/src/configs/exact_repro/
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.vti
*.out
*.err
src/wandb_runs/
src/wandb/
wandb/
*.wandb
.DS_Store
.vscode/
*.sbatch

# Example dataset, tracked separately with Git LFS
*.h5
!example_data/example_LR.h5
