/models
/results
/data
/src/wandb
/src/wandb_runs
/src/prepare_data/geometries/
/src/data/vti_files/
/src/prepare_data/vti_files/
__pycache__/
*.pyc
*.pyo
*.pyd
*.vti# W&B
src/wandb_runs/
src/wandb/
wandb/
*.wandb
